<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.davidpadlipsky.checkers">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/finalicon"
        android:label="Checkers"
        android:roundIcon="@mipmap/finalicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".checkers2Players"
            android:parentActivityName=".mainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainMenu" />
        </activity>
        <activity android:name=".mainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnePlayerCheckers"
            android:parentActivityName=".difficultyMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainMenu" />
        </activity>
        <activity
            android:name=".options"
            android:parentActivityName=".mainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainMenu" />
        </activity>
        <activity
            android:name=".difficultyMenu"
            android:parentActivityName=".mainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainMenu" />
        </activity>
    </application>

</manifest>